fusibile/
bounds_v1.npy
dtu_training.rar

bnv_fusion/data
bnv_fusion/logs
bnv_fusion/run_e2e.ipynb

MVSFormerPlusPlus/out
MVSFormerPlusPlus/data
MVSFormerPlusPlus/datasets/test_mvsdts.ipynb

venv/

.empty/

# Specifically ignore large files like checkpoints
*.pt
*.ckpt
*.tar
*.h5
*.pth
*.onnx

*.log
*.npy
bnv_fusion/*.npy
bnv_fusion/*.ply
*.npz
*.pkl

*.model
*.weights
*.tmp
*.swp
*.bak